<style>
.app-work .panel-body .table td {
  padding: 6px 8px !important;
}
table td > .btn {
  display: inline-block;
}
table .action {
  width: 250px;
}
</style>
<div class="page-content">

  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">CLIENT LIST</h3>
    </div>
    <div class="panel-body">
     <!-- form class="page-search-form" role="search">
        <div class="input-search input-search-dark">
          <i class="input-search-icon wb-search" aria-hidden="true"></i>
          <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Search Users">
          <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
        </div>
      </form -->
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Client Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th class="action">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="client in clients">
            <td>
              {{ client.id }}
            </td>
            <td>
              <div class="table-content">

                <a ui-sref="client.view({id:client.id})">
                  <p class="blue-grey-500">{{ client.name }}</p>
                </a>
                 <p>
                    <i class="icon icon-color wb-map" aria-hidden="true"></i>
                    {{client.address}}
                  </p>
              </div>
            </td>
            <td>
              <div class="table-content">
                <p class="blue-grey-500">{{ client.email }}</p>
              </div>
            </td>
            <td>
              <div class="table-content">
                <p class="blue-grey-500">{{ client.telephone }}</p>
              </div>
            </td>
            <td class="action">
              <button type="button"
                ng-click="setActivityModal(client)"
                class="btn btn-outline btn-success btn-sm"
              >Record Attendance Note</button>
              <a ui-sref="client.view({id:client.id})"
                class="btn btn-outline btn-success btn-sm"
              >Manage</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
