<div class="page-spinner">
  <style>
    .page-spinner {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(241, 244, 245, 0.64);
        background-image: url(/img/spinner.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 9999;
    }
  </style>
</div>
