<div>
  <div class="panel-heading">
    <h3 class="panel-title">Attendance Note</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control" ng-model="activityType">
            <option value="">-- Select Type --</option>
            <option value="atn.activity">Activity</option>
            <option value="atn.reminder">Reminder</option>
            <option value="atn.notes">Simple Note</option>
            <option value="atn.follow_up">Follow up</option>
          </select>
        </div>
      </div>
    </div>
    <p>Details:</p>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <textarea class="form-control" row="7" ng-model="activityDetails"></textarea>
        </div>
      </div>
    </div>
    <p>Due Date (optional):</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <datepicker date-format="{{ dateFormat }}">
            <input type="text" class="form-control"
              ng-model="activityDue"/>
          </datepicker>
        </div>
      </div>
    </div>
    <hr>
    <button class="btn btn-primary" ng-click="submitForm()">Send</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</div>
