.app-notebook .page {
  height: -webkit-calc(100% - 44px);
  height: calc(100% - 44px);
}

.app-notebook .page-main, .app-notebook .page-main > form, .app-notebook .page-main .md-editor {
  height: 100%;
}

.app-notebook .page-aside .form-control {
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, .06);
  padding: 10px 60px 10px 30px;
  height: 56px;
}

.app-notebook .page-aside .input-search-btn {
  padding-right: 30px;
  border-radius: 0;
}

.app-notebook .page-aside-inner {
  height: 100%;
}

.app-notebook-list {
  height: -webkit-calc(100% - 4.003rem);
  height: calc(100% - 4.003rem);
}

.app-notebook-list .list-group .list-group-item {
  border-bottom: 1px solid #e4eaec;
  border-radius: 0;
  margin-bottom: 0;
  white-space: normal;
  z-index: 0;
}

.app-notebook-list .list-group .list-group-item:hover {
  color: #3a3d40;
  background-color: #e8f1f8;
}

.app-notebook-list .list-group .list-group-item:last-of-type {
  border-bottom: 0;
}

.app-notebook-list .list-group .list-group-item.active {
  border-bottom: 1px solid #e4eaec;
  background-color: #e8f1f8;
}

.app-notebook-list .list-group .list-group-item .list-group-item-heading {
  font-size: 18px;
  color: #37474f;
  font-weight: 300;
  margin-bottom: 10px;
}

.app-notebook-list .list-group .list-group-item .list-group-item-text {
  font-size: 14px;
  color: #3a3d40;
  margin-bottom: 15px;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.app-notebook-list .list-group .list-group-item::-moz-selection, .app-notebook-list .list-group .list-group-item .list-group-item-heading::-moz-selection, .app-notebook-list .list-group .list-group-item .list-group-item-text::-moz-selection {
  background-color: transparent;
}

.app-notebook-list .list-group .list-group-item::selection, .app-notebook-list .list-group .list-group-item .list-group-item-heading::selection, .app-notebook-list .list-group .list-group-item .list-group-item-text::selection {
  background-color: transparent;
}

.app-notebook-list .list-group .list-group-item .info {
  color: #a3afb7;
}

.app-notebook-list .list-group .list-group-item .info .icon.wb-folder {
  float: left;
}

.app-notebook-list .list-group .list-group-item .info .category {
  font-size: 12px;
  float: left;
}

.app-notebook-list .list-group .list-group-item .info .time {
  font-size: 12px;
  float: right;
}

.app-notebook-list .list-group .list-group-item .info::-moz-selection, .app-notebook-list .list-group .list-group-item .info .category::-moz-selection, .app-notebook-list .list-group .list-group-item .info .time::-moz-selection {
  background-color: transparent;
}

.app-notebook-list .list-group .list-group-item .info::selection, .app-notebook-list .list-group .list-group-item .info .category::selection, .app-notebook-list .list-group .list-group-item .info .time::selection {
  background-color: transparent;
}

.app-notebook .md-editor {
  border: 0;
  border-radius: 0;
  max-width: 100%;
  overflow: auto;
}

.app-notebook .md-editor > .md-header {
  height: 56px;
  border-radius: 0;
  padding: 12px 18px;
  border-bottom: 1px solid #e4eaec;
  background-color: #fff;
  min-width: 540px;
}

.app-notebook .md-editor .md-input {
  padding: 13px 30px;
  height: -webkit-calc(100% - 56px);
  height: calc(100% - 56px);
  min-width: 540px;
}

@media (max-width: 479px) {
  .app-notebook .page {
    height: -webkit-calc(100% - 66px);
    height: calc(100% - 66px);
  }
}

@media (min-width: 1600px) {
  .app-notebook .page {
    max-width: 1540px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .app-notebook .page {
    max-width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app-notebook .page {
    max-width: 932px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app-notebook .page {
    max-width: 708px;
  }
}
