body {
    font-weight: 400;
}

.panel .panel-heading h1,
.panel .panel-heading h2,
.panel .panel-heading h3,
.panel .panel-heading h4,
.panel .panel-heading h5,
.panel .panel-heading h6 {
    padding: 1em 0 0.5em 1em;
}

.table thead th,
.table tfoot th {
    font-weight: 500;
    color: #2e3031;
}

.alert-danger {
    color: #e81a1a;
    border-color: #e81a1a;
    background: transparent;
}

.alert-danger .close {
    color: #e81a1a;
    opacity: 1;
}

.form-control {
    border-color: #4e4e4e;
}

.checkbox-custom label::before {
    border-color: #5a5a5a;
}

.btn-link {
    font-weight: 500;
}

.navbar-avatar {
    cursor: pointer;
}

.navbar-avatar .icon {
    margin-left: 5px;
}

.app-work .panel-title {
    font-size: 1.3em;
    font-weight: 400;
    padding: 20px 10px;
}

.editable-buttons {
    margin-top: 7px;
}

#project-milestone-table .milestone-order {
    width: 40px;
    text-align: right;
}

#project-milestone-table .milestone-desc {}

#project-milestone-table .milestone-status {
    width: 115px;
    text-align: right;
}

#project-milestone-table .milestone-price {
    width: 150px;
    text-align: right;
}

#project-milestone-table .milestone-notif-date {
    width: 150px;
    text-align: right;
}

#project-milestone-table .editable-buttons {
    margin-left: auto;
    margin-right: 3px;
}

.mapping-unit .input-group {
    min-width: 130px;
}

.mapping-floor {
    margin-bottom: 15px;
}

.remove-unit-btn {
    top: 6px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    text-indent: 1px;
    border-radius: 27px;
    line-height: 17px;
    font-size: 11px;
    background: #eee;
    border: none;
    z-index: 5;
    cursor: pointer;
}

.remove-unit-btn:hover {
    background: #f96868;
    color: #fff;
}

.swal2-container {
    z-index: 1700;
}
