<div class="page-header">
  <h1 class="page-title">Stage of completion payment calculator</h1>
</div>
<div class="page-content">
  <div class="panel">
    <div class="panel-body container-fluid">
      <div class="row row-lg">
        <div class="col">
          <div class="example-wrap">
            <h4 class="example-title">Project Information</h4>
            <div class="example">
              <form
                name="calculatorForm"
                id="calculatorForm"
                ng-submit="submit(calculatorForm)"
                novalidate
              >
                <div class="row">
                  <div class="form-group col-md-3">
                    <label class="form-control-label" for="completion-date">
                      Completion Date
                    </label>
                    <datepicker date-format="{{ dateFormat }}">
                      <input
                        type="text"
                        id="completion-date"
                        class="form-control"
                        ng-model="data.completionDate"/>
                    </datepicker>
                  </div>
                  <div class="form-group col-md-3">
                    <label class="form-control-label" for="csc-date">
                      CSC Date
                    </label>
                    <datepicker date-format="{{ dateFormat }}">
                      <input
                        type="text"
                        id="csc-date"
                        class="form-control"
                        ng-model="data.cscDate"
                      />
                    </datepicker>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label class="form-control-label" for="purchase-price">
                      Purchase Price
                    </label>
                      <input
                        type="text"
                        id="purchase-price"
                        class="form-control"
                        ng-model="data.purchasePrice"
                        required
                      />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Stage</th>
                          <th>%</th>
                          <th>Amount</th>
                          <th>Notice Date</th>
                          <th>Payment Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="stage in data.stages track by $index">
                          <td>
                            <span ng-if="stage.id < 100">{{ stage.id }}. </span>
                            <span>{{ stage.name }}</span>
                          </td>
                          <td>
                            {{ stage.percentage * 100 | number }}%
                          </td>
                          <td>
                            <span ng-if="data.purchasePrice">
                              {{ data.purchasePrice * stage.percentage | number }}
                            </span>
                          </td>
                          <td>
                            <datepicker ng-if="stage.id < 100" date-format="{{ dateFormat }}">
                              <input
                                id="date-notice-{{ stage.id }}"
                                class="form-control"
                                type="text"
                                ng-model="data.stages[$index].dateNotice"
                              />
                            </datepicker>
                          </td>
                          <td>
                            <datepicker ng-if="stage.id < 100" date-format="{{ dateFormat }}">
                              <input
                                type="text"
                                id="date-payment-{{ stage.id }}"
                                class="form-control"
                                ng-model="data.stages[$index].datePayment"
                              />
                            </datepicker>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h4 class="example-title">Deductions</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group row" ng-repeat="deduction in data.deductions track by $index">
                      <div class="col-md-4">
                        <label class="form-control-label">Amount</label>
                        <input
                          type="text"
                          class="form-control"
                          ng-model="data.deductions[$index].amount"
                        >
                      </div>
                      <div class="col-md-1">
                        <br /><br />
                        <button
                          type="button"
                          class="btn btn-link"
                          ng-click="removeDeduction($index)"
                        >Remove</button>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col">
                        <button
                          type="button"
                          class="btn btn-link"
                          ng-click="newDeduction()"
                        >New Deduction</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    ng-disabled="calculatorForm.$invalid || submitting"
                  >Submit</button>
                </div>
              </form>
              <div class="row">
                <div class="col">
                  <pre class="calculator-result">{{ resultHTML }}</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
