<style>
  .milestone-table tr > th:not(:first-child) {
    white-space: nowrap;
    text-align: right;
  }
  .completion-date {
    font-size: .9em;
    font-style: italic;
    color: #6bb772;
    margin-left: 3px;
  }
  .milestone-table tr.status-waiting td {
    background-color: #e47070;
    border-color: #e47070;
    color: #ffffff;
  }
  .milestone-table tr.status-done td {
    background-color: #6aa1e8;
    border-color: #6aa1e8;
    color: #ffffff;
  }
  .milestone-table tr:hover td {
    background-color: #f0f6f9;
    cursor: pointer;
  }
  .milestone-table tr.status-waiting:hover td {
    background-color: #f48585;
    border-color: #f48585;
    cursor: pointer;
  }
  .milestone-table tr.status-done:hover td {
    background-color: #7cb1f7;
    border-color: #7cb1f7;
    cursor: pointer;
  }
  .milestone-table tr:hover td {
    background-color: #e4eaec;
  }
  .property-warnings ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .property-warnings li {
    padding: 7px 3px;
  }
  .property-warnings p {
    margin-bottom: -4px;
    color: #f96868;
  }
  .property-warnings em {
    padding-left: 17px;
    margin-top: 2px;
  }
</style>
<div class="page-content">
  <div class="panel">
    <div class="panel-heading">
      <h3>Property <small>{{ property.name }} {{ property.project.name }}</small></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-6">
          <table class="table">
            <tr>
              <td>Name</td>
              <td><b>{{ property.name }}</b></td>
            </tr>
            <tr>
              <td>Project</td>
              <td><a ui-sref="project.view({id:property.project_id})"><b>{{ property.project.name }}</b></a></td>
            </tr>
            <tr ng-if="property.purchase_amount">
              <td>Purchase Amount</td>
              <td><b>${{ property.purchase_amount | number:2 }}</b></td>
            </tr>
            <tr ng-if="property.cash_amount">
              <td>Cash Amount</td>
              <td><b>${{ property.cash_amount | number:2 }}</b></td>
            </tr>
            <tr ng-if="property.cpf_1_amount">
              <td>CPF 1</td>
              <td>
                {{ property.cpf_1_name }}<br><b>${{ property.cpf_1_amount | number:2 }}</b>
              </td>
            </tr>
            <tr ng-if="property.cpf_2_amount">
              <td>CPF 2</td>
              <td>
                {{ property.cpf_2_name }}<br><b>${{ property.cpf_2_amount | number:2 }}</b>
              </td>
            </tr>
            <tr ng-if="property.cpf_3_amount">
              <td>CPF 3</td>
              <td>
                {{ property.cpf_3_name }}<br><b>${{ property.cpf_3_amount | number:2 }}</b>
              </td>
            </tr>
            <tr ng-if="property.loan_amount">
              <td>Loan Amount</td>
              <td><b>${{ property.loan_amount | number:2 }}</b></td>
            </tr>
            <tr ng-if="propertyWarnings && propertyWarnings.length">
              <td colspan="2">
                <div class="property-warnings">
                  <b>Warnings</b>
                  <ul>
                    <li ng-repeat="warning in propertyWarnings">
                      <p><i class="icon fa-warning" aria-hidden="true"></i> {{ warning.title }}</p>
                      <em>{{ warning.text }}</em>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-6">
          <h4>Quick Links</h4>
          <a target="project-{{ project.id }}-stage-completion"
            ui-sref="project.view.stageCompletion({id:property.project_id, property:property.id})"
            class="btn btn-link"
          >
            Stage of completion
          </a>
          <h4>Actions</h4>

          <a target="unit-precalc{{ property.id }}"
            href="docs/property/{{ property.id }}/unit-pre-calculation"
            class="btn btn-link"
            ng-if="property.client_id"
          >Generate unit pre calculation</a>
          <a target="letter-of-auth{{ property.id }}"
            href="docs/property/{{ property.id }}/letter-of-auth"
            class="btn btn-link"
            ng-if="property.client_id"
          >Generate letter of authority</a>
          <label>
            Upload letter of authority
            <input type="file"
              class="btn btn-link"
              ng-if="property.client_id"
            />
          </label>

          <h4 ng-show="property.property_completions.length > 0">Summary</h4>
          <ul class="stage-completion-list">
            <!-- li>
              Upon the grant of option to purchase
              <span class="completion-date">{{ property.created | date:'medium' }}</span>
            </li>
            <li>
              Upon signing S &amp; P
              <span class="completion-date">{{ property.created | date:'medium' }}</span>
            </li -->
            <li ng-repeat="completion in property.property_completions">
              {{ completion.property_completion_type.description }}
              <span class="completion-date">{{ completion.completed_at | date:'medium' }}</span>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <div ng-if="!property.client_id">
        <div class="row">
          <div class="col-12">
            <h4>Assign to Client</h4>
            <form name="mappingForm" id="mappingForm" ng-submit="submit(mappingForm)" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error':submitted && mappingForm.purchasePrice.$error.required}">
                    <label class="form-control-label">Purchase Price</label>
                    <input name="purchasePrice" type="text" format="number" class="form-control" ng-model="formData.purchasePrice" placeholder="" autocomplete="off" required>
                    <small class="help-block" data-ng-show="submitted && mappingForm.purchasePrice.$error.required">Please enter the purchase amount</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error':submitted && mappingForm.clientName.$error.required}">
                    <label class="form-control-label">Client Name</label>
                    <input name="clientName" type="text" class="form-control" ng-model="formData.clientName" placeholder="Name" autocomplete="off" required>
                    <small class="help-block" data-ng-show="submitted && mappingForm.clientName.$error.required">Please enter the Client name</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" ng-class="{'has-error':submitted && mappingForm.clientAddress.$error.required}">
                    <label class="form-control-label">Client Address</label>
                    <input name="clientAddress" type="text" class="form-control" ng-model="formData.clientAddress" placeholder="Address" autocomplete="off" required>
                    <small class="help-block" data-ng-show="submitted && mappingForm.clientAddress.$error.required">Please enter the Client address</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="form-control-label">Cash Amount</label>
                    <input type="text" format="number" class="form-control" ng-model="formData.cashAmount" required>
                  </div>
                </div>
                <div class="col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="form-control-label">Loan Amount</label>
                    <input type="text" format="number" class="form-control" ng-model="formData.loanAmount" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="form-control-label">CPF 1 Name</label>
                    <input type="text" class="form-control" ng-model="formData.cpf1Name">
                  </div>
                </div>
                <div class="col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="form-control-label">CPF 1 Amount</label>
                    <input type="text" format="number" class="form-control" ng-model="formData.cpf1Amount" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="form-control-label">CPF 2 Name</label>
                    <input type="text" class="form-control" ng-model="formData.cpf2Name">
                  </div>
                </div>
                <div class="col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="form-control-label">CPF 2 Amount</label>
                    <input type="text" format="number" class="form-control" ng-model="formData.cpf2Amount" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="form-control-label">CPF 3 Name</label>
                    <input type="text" class="form-control" ng-model="formData.cpf3Name">
                  </div>
                </div>
                <div class="col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="form-control-label">CPF 3 Amount</label>
                    <input type="text" format="number" class="form-control" ng-model="formData.cpf3Amount" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input type="submit" class="btn btn-primary" value="Submit">
                </div>
              </div>
              <div class="row mt-10" ng-if="formData.warningMsg">
                <div class="col">
                  <div class="alert alert-danger" role="alert">
                    {{ formData.warningMsg }}
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div ng-if="property.client_id">
        <h4>Client Info</h4>
        <table class="table">
          <tr>
            <td>Name</td>
            <td>{{ property.client.name }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ property.client.address }}</td>
          </tr>
          <tr>
            <td>Created</td>
            <td>{{ property.client.created | date:'medium' }}</td>
          </tr>
        </table>
        <br>
      </div>

      <h4>Stage Completions</h4>
      <div class="row">
        <div class="col-12">
          <table class="table milestone-table table-responsive">
            <tr>
              <th>Building Stage</th>
              <th>%</th>
              <th>Amount</th>
              <th>Cash</th>
              <th ng-if="property.cpf_1_amount || formData.cpf1Amount">CPF 1</th>
              <th ng-if="property.cpf_2_amount || formData.cpf2Amount">CPF 2</th>
              <th ng-if="property.cpf_3_amount || formData.cpf3Amount">CPF 3</th>
              <th>Loan</th>
              <th>Payment Due Date</th>
              <th>Due date to Dev</th>
            </tr>
            <tr
              ng-repeat="milestone in milestoneTemplate"
              ng-class="{
                'milestone': true,
                'status-waiting': milestone.status == 'waiting',
                'status-done': milestone.status == 'done'
              }"
              ng-click="onClickMilestone(milestone)"
            >
              <td>{{ milestone.name }}</td>
              <td class="text-right">{{ milestone.percentage * 100 | number }}%</td>
              <td class="text-right">{{ milestone.amount | number:2 }}</td>
              <td class="text-right">{{ milestone.cashAmount | number:2 }}</td>
              <td class="text-right" ng-if="property.cpf_1_amount || formData.cpf1Amount">{{ milestone.cpf1Amount | number:2 }}</td>
              <td class="text-right" ng-if="property.cpf_2_amount || formData.cpf2Amount">{{ milestone.cpf2Amount | number:2 }}</td>
              <td class="text-right" ng-if="property.cpf_3_amount || formData.cpf3Amount">{{ milestone.cpf3Amount | number:2 }}</td>
              <td class="text-right">{{ milestone.loanAmount | number:2 }}</td>
              <td class="text-right">{{ milestone.payment_due_date | date }}</td>
              <td class="text-right">{{ milestone.due_date_to_developer | date }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div>
        <h4>Documents</h4>
        <div class="row">
          <ul>
            <li ng-repeat="completion in property.property_completions">
              <a class="btn-link" target="_blank" href="docs/property/property-completion-item/{{ completion.id }}">{{ completion.property_completion_type.name }}.docx</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
