<div class="page-content">
  <div class="panel">
    <div class="panel-heading">
      <h3>
        Project: {{ project.name }}
      </h3>
    </div>
    <div class="panel-body">
      <div class="row row-lg">
        <div class="col-xl">
          <div class="nav-tabs-horizontal">
            <div class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" ui-sref="project.view.details()" ui-sref-active="active">Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="project.view.stageCompletion()" ui-sref-active="active">Stage of Completion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="project.view.allUnits()" ui-sref-active="active">Units</a>
              </li>
            </div>
            <div class="tab-content">
              <div ui-view></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/ng-template" id="myPopoverTemplate.html">
  <div class="form-group">
    <label>Scheduled Date:</label>
    <div class="input-group date-picker-group">
      <datepicker date-format="{{ dateFormat }}">
        <input type="text" class="form-control"
          ng-model="dynamicPopover.scheduled_date"/>
      </datepicker>
    </div>
  </div>
  <div class="form-group">
    <label>Completed Date:</label>
    <div class="input-group date-picker-group">
      <datepicker date-format="{{ dateFormat }}">
        <input type="text" class="form-control"
          ng-model="dynamicPopover.completed_date"/>
      </datepicker>
    </div>
  </div>
  <div ng-if="dynamicPopover.notifications.length">
    <h5>Notifications:</h5>
    <center class="center">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-secondary" ui-sref="project.view.notification">Email</button>
        <button type="button" class="btn btn-secondary">SMS</button>
      </div>
    </center>
    <hr>
    <!-- ul>
      <li ng-repeat="notif in dynamicPopover.notifications">{{ notif }}</li>
    </ul -->
  </div>
  <div>
    <button type="button" class="btn btn-primary" ng-click="saveStageCompletionDate()">Save</button>
    <!-- button type="button" class="btn btn-danger">Cancel</button -->
  </div>
</script>
<style>
.tab-content {
    padding-top: 20px;
}
#property-stage-completion-table th,#property-stage-completion-table tr {
  width: 11%;
}
#property-stage-completion-table th, #property-stage-completion-table td {
  text-align: center;
}
.app-work .panel-body .table td {
  padding: 8px;
}
#stage-completion-legend {
  list-style: none;
  padding-left: 5px;
}
.unit-completion-item {
    cursor: pointer;
}
.completion-item-td:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
.completion-item-td:hover > .completion-item-td:hover {
  color: #424242;
}
.nav-tabs .nav-link.active:hover {
    color: #fff !important;
}
.nav-tabs .nav-link:hover {
    cursor: pointer;
}
.uib-datepicker-popup {
    padding-top: 0;
}
.uib-datepicker-popup table td {
    padding: 2px !important;
    border: none;
}
.uib-datepicker-popup table td button {
    background: none;
    border: none;
}
.uib-datepicker-popup table td button.active span {
    color: #4e4e4e !important;
    font-weight: bold;
}
.uib-datepicker-popup table th button.uib-title {
    background: none;
    border: none;
}
/* .completion-item-td.active {
    background: #0083ff;
    border-color: #0083ff;
    color: #fff;
    font-weight: bold;
} */
.completion-item-td {
  position: relative;
}
.completion-item-td.active .select-indc {
  display: none;
}
.completion-item-td.active .select-indc {
  display: block;
  border: solid 2px #0083ff;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 2px;
}
.date-picker-group input {
  width: 100% !important;
}
._720kb-datepicker-calendar {
  width: 270px;
}
._720kb-datepicker-calendar-day {
  text-decoration: none !important;
}
._720kb-datepicker-calendar-header a, ._720kb-datepicker-calendar-header a span {
  color: #fff !important;
}
.notice-table tr > td:first-child {
  width: 37%;
}

.status-indc {
  width: 12px;
  height: 12px;
  border-radius: 18px;
  display: inline-block;
  margin: 0 1px 0 0;
  vertical-align: middle;
}
.status-indc-ab {
  position: absolute;
  top: 6px;
  right: 6px;
}
.status-pending {
  background: #ff2727;
}

.status-paid {
  background: #0c7ae4;
}
</style>
