<div class="form-horizontal">
  <div class="form-group row">
    <label class="col-md-3 form-control-label">Due Date to Developer</label>
    <div class="col-md-9">
      <select ng-model="userSettings.due_days_to_developer_from_payment" class="form-control form-control-inline">
        <option value="{{ days }}" ng-if="days > 0" ng-repeat="days in selections.dueToDeveloper">{{ days }} day{{ days > 1 ? 's' : '' }}</option>
      </select>
      after the letter date
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 form-control-label">Payment Due Date</label>
    <div class="col-md-9">
      <select ng-model="userSettings.payment_due_days_from_due_date_to_developer" class="form-control form-control-inline">
        <option value="{{ days }}" ng-if="days > 0" ng-repeat="days in selections.paymentDueDate">{{ days }} day{{ days > 1 ? 's' : '' }}</option>
      </select>
      before due date to developer
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 form-control-label">Action date for payment</label>
    <div class="col-md-9">
      <select ng-model="userSettings.stage_completion_action_days_from_payment_due_date" class="form-control form-control-inline">
        <option value="{{ days }}" ng-if="days > 0" ng-repeat="days in selections.actionDays">{{ days }} day{{ days > 1 ? 's' : '' }}</option>
      </select>
      before the payment due date
    </div>
  </div>
  <hr>
  <button class="btn btn-primary" ng-click="submitForm()">Save</button>
</div>
