.page-code-editor .page {
  height: -webkit-calc(100% - 44px);
  height: calc(100% - 44px);
}

.page-code-editor .page-main, .page-code-editor .page-content {
  padding: 0;
  height: 100%;
}

.page-code-editor .treeview .list-group-item.node-selected {
  background-color: #f3f7f9;
}

.page-code-editor .treeview .list-group-item.node-selected, .page-code-editor .treeview .list-group-item.node-selected .node-icon {
  color: #0083ff;
}

.page-code-editor .CodeMirror {
  height: 100%;
}
