.page-email .page-content .panel {
  max-width: 660px;
  margin: 0 auto;
}

.page-email .email-title {
  padding: 15px 0 5px;
  text-align: center;
}

.page-email .email-more {
  margin-top: 40px;
  padding: 35px 0 10px;
  text-align: center;
  border-top: 1px solid #e4eaec;
}

.page-email .email-more-title {
  font-size: 20px;
}

.page-email .email-more-content {
  padding: 47px 0 54px;
}

.page-email .email-more-social {
  padding: 20px 0;
}

.page-email .email-more-social a {
  margin: 0 7px;
  padding: 5px;
  text-decoration: none;
}

.page-email .email-more-social .icon {
  color: rgba(55, 71, 79, .4);
  font-size: 1.143rem;
}

.page-email .email-more-social .icon:hover, .page-email .email-more-social .icon:focus {
  color: rgba(55, 71, 79, .6);
}

.page-email .email-more-social .icon.active, .page-email .email-more-social .icon:active {
  color: #37474f;
}

.page-email .email-more .card {
  margin-bottom: 1.572rem;
}

.page-email .email-unsubscribe {
  text-decoration: underline;
}

.page-email-articles .page-content .panel div.card {
  padding: 20px 0;
  margin: 0;
}

.page-email-articles .page-content .panel div.card-img-top {
  margin-bottom: 35px;
}

.page-email-articles .page-content .panel div.card-link {
  margin-top: 10px;
}

.page-email-welcome .welcome-content {
  text-align: center;
}

.page-email-welcome .email-more {
  margin-top: 0;
}

.page-email-thumbnail .card-list-item .card-block {
  padding-top: 0;
  padding-bottom: 0;
}

.page-email-news .panel, .page-email-news .panel-body > .card {
  background-color: transparent;
}

.page-email-news .panel {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.page-email-news .panel-body > .card {
  margin-left: -17px;
  margin-right: -17px;
}

.page-email-news .panel-body > .card > .card-block {
  padding-top: 3px;
  padding-bottom: 3px;
}

.page-email-news [class^="col-"] {
  padding-left: 3px;
  padding-right: 3px;
}

.page-email-news .news .img-fluid {
  height: 318px;
  width: 100%;
}

.page-email-news .news .card span {
  margin-left: 1.429rem;
}

.page-email-news .news .card-title {
  font-size: 22px;
}

.page-email-news .image-item {
  position: relative;
}

.page-email-news .news-time, .page-email-news .news-category, .page-email-news .news-title {
  position: absolute;
  color: #fff;
}

.page-email-news .news-time {
  right: 0;
  top: 15px;
  padding: 5px 12px;
  background-color: #3a3d40;
  opacity: .8;
}

.page-email-news .news-category {
  background-color: #0083ff;
  left: 0;
  bottom: 39px;
  padding: 8px 10px;
  text-transform: uppercase;
}

.page-email-news .news-title {
  left: 0;
  bottom: 0;
  padding: 10px 10px;
  font-size: 16px;
  background-color: #263238;
  margin-bottom: 0;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
