<!-- nav>
  Header here
  <ul>
    <li><a href="#" ui-sref="home()">Home</a></li>
    <li><a href="#" ui-sref="projects()">Projects</a></li>
  </ul>
</nav -->

<header>
<top-nav></top-nav>
<menu-bar></menu-bar>
</header>
