<div class="site-menubar site-menubar-light">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li class="site-menu-item has-sub" ui-sref-active="active" ng-repeat="link in links">
            <a  ui-sref="{{ link.routeName }}" data-dropdown-toggle="false">
              <i class="{{ link.iClass }}" aria-hidden="true"></i>
              <span class="site-menu-title">{{ link.title }}</span>
            </a>
            <ul class="site-menu-sub" ng-if="link.subMenu">
              <li class="site-menu-item" ng-repeat="subMenu in link.subMenu">
                <a href="javascript:void(0)" ui-sref="{{ subMenu.routeName }}">
                  <span class="site-menu-title">{{ subMenu.title }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
