<style>
.app-work .actions {
  width: 25%;
}
.app-work .subject {
  width: 25%;
}
ul.tb-attr {
  margin: 0;
  padding: 0;
  list-style: none;
}
</style>
<div class="page-content">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">PROJECT LIST</h3>
      <!-- ul class="panel-info">
        <li>
          <div class="num blue-600">23</div>
          <p>Early Stage</p>
        </li>
        <li>
          <div class="num orange-600">8</div>
          <p>Completing</p>
        </li>
        <li>
          <div class="num green-600">5</div>
          <p>Completed</p>
        </li>
      </ul -->
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Details</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in projects">
            <td>{{ project.id }}</td>
            <td class="subject">
              <a ui-sref="project.view({id:project.id})" class="blue-grey-500"><b>{{ project.name }}</b></a>
              <div class="blue-grey-600" ng-if="project.developer_name">Developer: <b>{{ project.developer_name }}</b></div>
              <div class="blue-grey-600">Date Added: <b>{{ project.created | date }}</b></div>
            </td>
            <td>
              <div class="row">
                <div class="col">
                  <ul class="tb-attr">
                    <li>CSC Date: <b ng-if="!project.csc_date">Unspecified</b><b ng-if="project.csc_date">{{ project.csc_date | date }}</b></li>
                    <li>Properties: <b>{{ project.property_count }}</b></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="tb-attr">
                    <li>Clients: <b>{{ project.client_count }}</b></li>
                  </ul>
                </div>
              </div>
            </td>
            <td class="actions">
               <a ui-sref="project.view({id:project.id})" class="btn btn-outline btn-success btn-sm">Manage</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
