<style>
.payment-items {
  padding-left: 0;
  list-style: none;
  margin: 5px 0 0 0;
}
</style>
<table class="table table-sm">
  <tr>
    <td>Unit/Project</td>
    <td><b>{{ paymentItem.property.name }} {{ paymentItem.property.project.name }}</b></td>
  </tr>
  <tr>
    <td>Client</td>
    <td><b>{{ paymentItem.property.client.name }}</b></td>
  </tr>
  <tr>
    <td>Stage</td>
    <td><b>{{ paymentItem.completion_type_id }}</b></td>
  </tr>
  <tr>
    <td>Amount</td>
    <td>
      <b>${{ paymentAmount | number }}</b>
      <ul class="payment-items">
        <li ng-repeat="payment in paymentItem.completion_payments">{{ payment.mode_of_payment }}: ${{ payment.amount | number }}</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Status</td>
    <td><b>Waiting for payment</b></td>
  </tr>
  <tr>
    <td>Due Date</td>
    <td><b>{{ paymentItem.payment_due_date | date }}</b></td>
  </tr>
  <tr>
    <td>Stage Completed On</td>
    <td>{{ paymentItem.letter_date | date }}</td>
  </tr>
</table>
