<style>
@media (max-width: 1599px) and (min-width: 1200px) {
  .page {
    max-width: 100%;
  }
}
.badge.badge-stage {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin-left: 5px;
  background: #fff;
  border: solid 1px #007df7;
  color: #007df7;
}
#chartBarStacked .card-block {
  padding-top: 0 !important;
}
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #0083ff;
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #ec110f;
}
.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #afafaf;
}
.ct-bar {
  fill: none;
  stroke-width: 25px;
}
.ct-chart-bar .ct-label {
  color: #232323;
  fill: #232323;
  font-size: 15px;
  margin-top: 3px;
}
.chart-container .dropdown {
  border: solid 1px;
  padding: 1px 8px;
  border-radius: 3px;
}
.page-spinner {
  position: absolute !important;
  background-color: rgba(255, 255, 255, 0.50) !important;
}
</style>
<div class="page-header">
  <h1 class="page-title">Dashboard</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a >Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <!-- div class="page-header-actions">
    <button type="button" class="btn btn-sm btn-outline btn-default btn-round">
      <span class="text hidden-sm-down">Settings</span>
      <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </button>
  </div -->
</div>
<div class="page-content">
  <div class="row">
    <div class="col-md-7">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Stages Summary Per Project</h3>
        </div>
        <div class="panel-body">
          <div class="chart-container">
            <page-spinner ng-if="chartLoading"></page-spinner>
            <div class="card card-shadow" id="chartBarStacked">
              <div class="card-block p-0 p-30 h-full">
                <div class="chart-header pb-10" style="height:calc(100% - 350px);">
                  <div class="font-size-20 inline-block">
                    <div class="dropdown vertical-align-bottom ml-3 font-size-20">
                      <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"
                      role="complementary">
                        Project {{ currentProjectName }}
                      </div>
                      <div class="dropdown-menu" role="menu" ng-if="projects.length > 1">
                        <a class="dropdown-item" ng-repeat="project in projects" ng-click="updateGraph(project.id)">{{ project.name }}</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-header-actions">`
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <span class="icon wb-medium-point blue-600 mr-5"></span>Paid</li>
                      <li class="list-inline-item">
                        <span class="icon wb-medium-point red-800 mr-5"></span>Awaiting Payment</li>
                      <li class="list-inline-item">
                        <span class="icon wb-medium-point blue-grey-600 mr-5"></span>Pending</li>
                    </ul>
                  </div>
                </div>
                <div class="ct-chart h-350"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Outstanding Payment</h3>
          <div class="panel-actions panel-actions-keep" ng-if="outstandingPayments !== null">
            <a ui-sref="payments.index()">Show more...</a>
          </div>
        </div>
        <div class="panel-body" element-spinner="outstandingPayments === null">
          <table class="table" ng-if="outstandingPayments !== null">
            <thead>
              <tr>
                <th>Unit Name/Client</th>
                <th>Due Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="paymentItem in outstandingPayments">
                <td>
                  <a ui-sref="property.view({id: paymentItem.property.id})">
                  {{ paymentItem.property.name }}
                  {{ paymentItem.property.project.name }}</a>
                  <span>{{ paymentItem.property.client.name }}</span>
                  <span>(Stage {{ paymentItem.completion_type_id }})</span>
                </td>
                <td>
                  {{ paymentItem.payment_due_date | date }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
