<div class="page-content">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        New Project
      </h3>
    </div>
    <div class="panel-body container-fluid">
      <form name="mappingForm" id="mappingForm" ng-submit="submit(mappingForm)" novalidate>
      <h4>Project Info</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-group" ng-class="{'has-error':submitted && mappingForm.name.$error.required}">
            <label class="form-control-label">Name</label>
            <input name="name" type="text" class="form-control" ng-model="inputs.project.name" placeholder="Name" autocomplete="off" required>
            <small class="help-block" data-ng-show="submitted && mappingForm.name.$error.required">Please enter the name of the Project</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group" ng-class="{'has-error':submitted && mappingForm.description.$error.required}">
            <label class="form-control-label">Description</label>
            <textarea name="description" type="text" class="form-control" ng-model="inputs.project.description" placeholder="Description" autocomplete="off" row="4" required></textarea>
             <small class="help-block" data-ng-show="submitted && mappingForm.description.$error.required">Please describe the Project</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group" ng-class="{'has-error':submitted && mappingForm.address.$error.required}">
            <label class="form-control-label">Address</label>
            <textarea name="address" type="text" class="form-control" ng-model="inputs.project.address" placeholder="Address" autocomplete="off" row="3" required></textarea>
             <small class="help-block" data-ng-show="submitted && mappingForm.address.$error.required">Please enter the address of the Project</small>
          </div>
        </div>
      </div>
      <div class="row row-lg">
        <div class="col-sm-4">
          <div>
            <h4>Project Size</h4>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Floors</span>
                <input type="text" ng-model="inputs.numFloors" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Rooms/floor</span>
                <input type="text" ng-model="inputs.roomsPerFloor" class="form-control">
              </div>
            </div>
          </div>
          <h4>Naming</h4>
          <div class="form-group">
            <div class="radio-custom radio-primary">
              <input type="radio" id="opt1" name="unitNamingConvention" ng-model="inputs.unitNamingType" value="1">
              <label for="opt1">1-01, 1-02, 2-01, 2-02</label>
            </div>
            <div class="radio-custom radio-primary">
              <input type="radio" id="opt1" name="unitNamingConvention" ng-model="inputs.unitNamingType" value="2">
              <label for="opt1">101, 102, 201, 202</label>
            </div>
            <div class="radio-custom radio-primary">
              <input type="radio" id="opt2" name="unitNamingConvention" ng-model="inputs.unitNamingType" value="3">
              <label for="opt2">1A, 1B, 2A, 2B</label>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Prefix</span>
              <input type="text" ng-model="inputs.namePrefix" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="updateProjectSize()">{{ showMapping ? 'Update' : 'Set' }}</button>
          </div>
        </div>
      </div>
      <div class="row row-lg" ng-show="showMapping">
        <div class="col">
          <h4>Unit Mapping</h4>
          <div class="mapping">
            <div class="mapping-floor" ng-repeat="floor in inputs.project.unitsMap track by $index">
              <div class="row">
                <div class="col">
                  <h5>Floor: <input type="text" ng-model="floor.floorName" value="{{ $index + 1 }}" size="3"></h5>
                  <div class="row">
                    <div class="col" ng-repeat="unit in floor.units track by $index">
                      <div class="mapping-unit">
                        <div class="form-group">
                          <div class="input-group">
                            <input type="text" ng-model="floor.units[$index]" class="form-control">
                            <button type="button" class="remove-unit-btn icon wb-close" ng-click="removeUnit(floor.units, $index)"></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-1">
                      <button type="button" class="btn btn-primary" ng-click="addUnitByFloor(floor.units)">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-lg" ng-show="showMapping">
        <div class="col">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
