<div class="panel">
        <div class="panel-heading">
            <h4>Notifications to send</h4>
        </div>
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Unit Name</th>
                                <th>Project</th>
                                <th>Completed On</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="notif in stats.notification_to_send">
                                <td>{{ notif.property.name }}</td>
                                <td>
                                    <a ui-sref="project.view.stageCompletion({
                                        id: notif.property.project_id,
                                        propertyId: notif.property.id,
                                        stageId: notif.stage_completion.completion_type_id
                                    })">{{ notif.property.project.name }} {{ notif.property.project.address }}</a>
                                </td>
                                <td>{{ notif.stage_completion.completed_at | date : dateFormat }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Send</button>
                                    <button class="btn btn-secondary btn-sm">View Document</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
