<style>
.document-source {
  position: absolute;
  right: 15px;
  top: -11px;
}

.document-source .nav-link {
  cursor: pointer;
}

.document-source.nav .nav-link.active:hover {
  color: #fff;
}

.ql-container {
  color: #000;
  font-size: 1.05em;
  min-height: 400px;
}

.doctype-list {
  padding: 0;
  list-style: none;
  min-height: 125px;
}

.doctype-list > li > div {
  padding: 10px 5px;
  cursor: pointer;
  border: solid 2px transparent;
  border-radius: 3px;
  margin-bottom: 3px;
}

.doctype-list > li > div:hover {
  border-color: #cccccc;
}

.doctype-list > li > div.active {
  border-color: #007df7;
  color: #007df7;
  font-weight: bold;
}

.document-source.nav > li > p {
  padding: 10px 9px;
  font-size: 0.9em;
}

.varlist {
  width: 100%;
  overflow: auto;
  height: auto;
  display: block;
  margin-bottom: 8px;
}
</style>
<div class="row">
  <page-spinner ng-if="documentSaving"></page-spinner>
  <div class="col-md-4 col-lg-3">
    <div>
      <h5>Template List</h5>
      <ul class="doctype-list">
        <li ng-repeat="doctype in documentTypes">
          <div
            ng-click="switchDocType(doctype.key)"
            ng-class="{active: doctype.key === currentDoctype.key}"
          >{{ doctype.name }}</div>
        </li>
      </ul>
    </div>
    <div>
      <h5>Variables</h5>
      <select class="varlist"
        ng-model="selectedVariableKey"
        size="15"
        >
        <option
          ng-repeat="dvar in docVariables track by $index"
          value="{{ $index }}"
          >{{ dvar.desc }}</option>
      </select>
      <p>
        <button class="btn btn-sm btn-primary" ng-click="addVariable()">
          Add to Template
          <i class="icon wb-arrow-right" aria-hidden="true" ng-if="currentTemplateSource === 'html'"></i>
        </button>
    </p>
    </div>
  </div>
  <div class="col-md-8 col-lg-9">
    <h4>{{ currentDoctype.name }}</h4>
    <ul class="document-source nav nav-pills" role="tablist">
      <li class="nav-item">
        <p>Source:</p>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-sm"
          ng-class="{active: currentTemplateSource === 'html'}"
          ng-click="setCurrentTemplateSource('html')">Template Editor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-sm"
          ng-class="{active: currentTemplateSource === 'file'}"
          ng-click="setCurrentTemplateSource('file')">Upload File</a>
      </li>
    </ul>
    <div class="templates" ng-show="currentTemplateSource !== 'file'">
      <div id="editor"></div>
    </div>
    <div class="upload-doc" ng-show="currentTemplateSource === 'file'">
      <p ng-show="currentTemplateSource === 'file' && currentTemplateFile.length">Current File: <b>{{currentTemplateFile}}</b></p>
      <div id="uploader">
        Upload word file:
        <form name="docForm">
          <p>
            <input type="file" ngf-select ng-model="docFile" name="file"
              accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
              ngf-max-size="14MB" required
              ngf-model-invalid="errorFile">
            <i ng-show="docForm.file.$error.required">*required</i><br>
            <i ng-show="docForm.file.$error.maxSize">File too large
                {{errorFile.size / 1000000|number:1}}MB: max 14M</i>
            <span ng-show="docFile.result && docFile.result.status === 'sending'"><i>Uploading...</i></span>
            <b ng-show="docFile.result && docFile.result.status === 'success'">Upload Successful</b>
            <b ng-show="docFile.result && docFile.result.status === 'error'">{{ docFile.result.message }}</b>
          </p>

          <button type="submit" class="btn btn-primary"
            ng-disabled="!docForm.$valid" ng-click="uploadDoc(docFile)">Save</button>
        </form>
      </div>
    </div>
    <p class="pt-20">
      <button class="btn btn-primary"
        ng-if="currentTemplateSource === 'html'"
        ng-click="submitTemplates()"
      >Save</button>
    </p>
  </div>
</div>
