<div class="page-content">
  <div class="panel">
    <div class="panel-heading">
      <h4>New Stage Completion for {{ project.name }}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col">
          <h5>Select Milestone:</h5>
          <div class="radio-primary" ng-repeat="items in completionItems">
            <input type="radio" id="completionInput{{ items.id }}" ng-model="inputs.selectedCompletionItem" value="{{ items.id }}">
            <label for="completionInput{{ items.id }}">{{ items.description }}</label>
          </div>
        </div>
      </div>
      <br>
      <div ng-if="+inputs.selectedCompletionItem">
        <h5>Apply to specific properties</h5>
        <div class="row">
          <div class="col">
            <b>Legend:</b>
            <ul class="legend-boxes">
              <li><i class="lg-box-grey"></i> Available</li>
              <li><i class="lg-box-green"></i> Completed</li>
              <li><i class="lg-box-none"></i> Unavailable (No Client Assigned)</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <form>
            <br ng-show="+$index % 5 === 0" ng-repeat-start="property in inputs.selectedUnits track by $index" />
            <div class="form-group
              select-unit-checkbox
              {{ property.disabled ? 'disabled' : '' }}
              {{ property.selected ? 'selected' : '' }}
              {{ property.completed ? 'completed' : '' }}
              {{ !property.client ? 'no-client' : '' }}
              " ng-repeat-end>
              <div ng-if="property.client" class="unit-tooltip">
                Client: <b>{{ property.client.name }}</b>
                <br>
                Purchase Amount:<b> {{ property.purchase_amount }}</b>
              </div>
              <label>
                <input type="checkbox" ng-model="property.selected" ng-disabled="property.disabled">
                <span>{{ property.name }}</span>
              </label>
            </div>
            <br><br>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.legend-boxes li {
  margin-bottom: 4px;
}
.legend-boxes [class^="lg-box"] {
  display: inline-block;
  width: 34px;
  height: 20px;
  background: #fff;
  border: solid 1px #eee;
  vertical-align: bottom;
  margin-right: 2px;
}
.legend-boxes .lg-box-green {
  background: #93eca2;
  border-color: #93eca2;
}
.legend-boxes .lg-box-grey {
  background: #eeeeee;
  border-color: #eeeeee;
}
.select-unit-checkbox {
  margin: 4px;
  display: inline-block;
  border: solid 1px #eee;
  position: relative;
}
.select-unit-checkbox.selected {
  border: solid 1px #3b99fc;
  border-radius: 1px;
}
.select-unit-checkbox.disabled {
  /* opacity: 0.5; */
}
.select-unit-checkbox.completed {
  /* opacity: 0.5; */
}
.select-unit-checkbox.completed {
    border-color: #93eca2;
}
.select-unit-checkbox.completed label {
    background: #93eca2;
    color: #1a4a22;
}
.select-unit-checkbox.no-client {
    border-color: #f5f3f3;
}
.select-unit-checkbox.no-client label {
    background: #fff;
    color: #e2e2e2 !important;
}
.form-group.select-unit-checkbox.selected.disabled {
  border: solid 1px #b3c8de;
}
.select-unit-checkbox label {
  margin: 0;
  padding: 4px 9px;
  background: #eee;
}

.select-unit-checkbox .unit-tooltip {
  display:none;
  position: absolute;
  top: 110%;
  z-index: 1;
  width: 300px;
  background: #ffffff;
  border: solid 1px #e4e4e4;
  border-radius: 4px;
  padding: 8px 9px;
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.05);
}

.select-unit-checkbox:hover .unit-tooltip,
.select-unit-checkbox .unit-tooltip:hover {
  display: block;
}
</style>
