<style>
.property-stage-dots {
  display: inline-block;
}
.property-stage-dots .dot {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #ececec;
  border: solid 1px #e8e8e8;
  margin-right: 3px;
  border-radius: 20px;
}
.property-stage-dots .dot-pending {
  background: #ff2727;
  border-color: #ff2727;
}
.property-stage-dots .dot-paid {
  background: #0c7ae4;
  border-color: #0c7ae4;
}
</style>
<span class="property-stage-dots">
  <span ng-repeat="completion in completionItems" ng-class="{
    dot: true,
    'dot-created': completion.status == 'created',
    'dot-pending': completion.status == 'pending',
    'dot-paid': completion.status == 'paid'
  }"
  title="Stage {{ completion.completion_type_id }}"></span>
</span>
