<style>
.attendance-notes-table td {
  padding: 9px !important;
}
</style>
<div class="page-content">
  <div class="panel">
    <div class="panel-heading">
      <h3>
        Client: {{ client.name }}
      </h3>
    </div>
    <div class="panel-body">
      <h5>Update</h5>
      <div class="form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-control-label">Client Name</label>
              <input type="text" class="form-control" ng-model="input.name">
            </div>
             <div class="form-group">
              <label class="form-control-label">Address</label>
              <input type="text" class="form-control" ng-model="input.address" autocomplete="off">
            </div>
            <div class="form-group">
              <label class="form-control-label">Email</label>
              <input type="text" class="form-control" ng-model="input.email" autocomplete="off">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="updateClient();">Update</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-control-label">Telephone</label>
              <input type="text" class="form-control" ng-model="input.telephone" autocomplete="off">
            </div>
            <div class="form-group">
              <label class="form-control-label">Fax</label>
              <input type="text" class="form-control" ng-model="input.fax" autocomplete="off">
            </div>
            <div class="form-group">
              <label class="form-control-label">Spouse Name</label>
              <input type="text" class="form-control" ng-model="input.spouse_name" autocomplete="off">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading"><h3>Properties</h3></div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Purchase Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="property in client.properties">
            <td>{{ property.name }} {{ property.project.name }}</td>
            <td>${{ property.purchase_amount | number }}</td>
            <td><a class="btn btn-primary btn-sm" ui-sref="property.view({id: property.id})">Manage</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading"><h3>Attendance Notes</h3></div>
    <div class="panel-body">
      <table class="table attendance-notes-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Details</th>
            <th>Due Date</th>
            <!-- <th>Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="activity in activities">
            <td>{{ activity.created_at | date }}</td>
            <td>{{ activity.activity_text }}</td>
            <td>{{ activity.due_date | date  }}</td>
            <!-- <td>
              <button class="btn btn-primary">Edit <i class="fa fa-cog"></i></button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
