<style>
datepicker > .form-control {
  width: 100% !important;
  border-radius: 0 3px 3px 0 !important;
}
._720kb-datepicker-calendar {
  width: 282px;
}
</style>
<div>
  <div class="panel-heading">
    <h3 class="panel-title">Follow up</h3>
  </div>
  <div class="panel-body">
    <div stage-completion-summary></div>
    <p>Input the date when the payment has been made.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control" ng-model="sendTo">
            <option value="">-- Send To --</option>
            <option value="client">Client: {{ paymentItem.property.client.name }}</option>
            <option value="bank">Bank</option>
            <option value="cpf_1">CPF 1</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control" ng-model="sendOption">
            <option value="email">Email</option>
          </select>
        </div>
      </div>
    </div>
    <p>Message:</p>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <textarea class="form-control" row="7" ng-model="message"></textarea>
        </div>
      </div>
    </div>
    <hr>
    <button class="btn btn-primary" ng-click="submitForm()">Send</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</div>
