<style>
datepicker > .form-control {
  width: 100% !important;
  border-radius: 0 3px 3px 0 !important;
}
._720kb-datepicker-calendar {
  width: 282px;
}
</style>
<div>
  <div class="panel-heading">
    <h3 class="panel-title">Record Payment</h3>
  </div>
  <div class="panel-body">
    <div stage-completion-summary></div>
    <p>Input the date when the payment has been made.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group input-group-icon">
            <span class="input-group-addon">
              <span class="fa fa-calendar" aria-hidden="true"></span>
            </span>
            <datepicker date-format="{{ dateFormat }}">
              <input type="text" class="form-control" placeholder="Date of payment" ng-model="form.payment_date">
            </datepicker>
          </div>
        </div>
      </div>
    </div>
    <p>Notes:</p>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <textarea class="form-control" row="7"></textarea>
        </div>
      </div>
    </div>
    <hr>
    <button class="btn btn-primary" ng-click="submitForm()">Submit</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</div>
