<style>
.table-header {
  display: flex;
  align-items: center;
}
.table-header > .input-filters, .table-header >
.input-search {
  display: inline-block;
  display: flex;
  padding-right: 15px;
}
.table-header > .input-filters input {
  height: 20px;
  margin-right: 6px;
  margin-left: 5px;
}
.table-header >
.input-search {
  width: 600px;
}
label[for=showWithClientToggle] {
  font-weight: bold;
  font-size: 1.05rem;
}
</style>
<div class="row">
    <div class="col-lg">
      <div class="table-header">
        <div class="input-filters">
          <label for="showWithClientToggle">
            <input type="checkbox" ng-model="showWithClientsOnly" id="showWithClientToggle"> Show units with client only
          </label>
        </div>
        <div class="input-search">
          <i class="input-search-icon wb-search" aria-hidden="true"></i>
          <input type="text" class="form-control" placeholder="Search List" ng-model="searchText">
        </div>
        <div class="input-legend">
          <span class="status-indc status-pending"></span> Awaiting Payment
          <span class="status-indc status-paid ml-10"></span> Paid
        </div>
      </div>
      <div class="pt-20">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Unit/Client</th>
              <th>Purchase Amount</th>
              <th>Stage Completion</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="property in project.properties | filter:searchText" ng-if="showWithClientsOnly ? property.client_id : true">
              <td>
                {{ property.id }}
              </td>
              <td>
                <div class="table-content">
                  <a ui-sref="property.view({id:property.id})">{{ property.name }}</a>
                  <a ui-sref="/client/{{ property.client_id }}">{{ getClientName(property) }}</a>
                </div>
              </td>
              <td>
                <div class="table-content">
                    <p class="blue-grey-500"><span ng-if="property.purchase_amount">$</span>{{ property.purchase_amount | number }}</p>
                </div>
              </td>
              <td>
                <span property-stage-dots></span>
              </td>
              <td>
                <a ui-sref="property.view({id:property.id})" class="btn btn-outline btn-success btn-sm">Manage</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
</div>
