<style>
.notice-table .well {
  font-size: 0.95em;
  clear: both;
  margin-bottom: 7px;
}
.notice-table .well > div:not(:first-child) {
  padding-left: 15px;
}
</style>
<div class="panel">
  <div class="panel-heading">
    <h4>Stage Completion/Notice</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col">
        <div class="nav-tabs-horizontal">
          <ul class="nav nav-tabs">
            <li class="nav-item" ng-repeat="completion in completions track by $index">
              <a ng-class="{'nav-link': 1, active: currentTab == $index}" ng-click="setTab($index)">
                {{ completion.name }} Stage {{ completion.completionItem.completion_type_id }}
              </a>
            </li>
          </ul>
          <div class="tab-content pt-20">
            <div ng-repeat="completion in completions track by $index" ng-show="currentTab == $index">
              <h4>Details for {{ completion.name }} Stage {{ completion.completionItem.completion_type_id ||'(' + completion.completionItem.name + ')' }}</h4>
              <table class="table table-sm notice-table">
                <tr>
                  <td>Unit/Project</td>
                  <td>{{ completion.name }} {{ completion.project.name }}</td>
                </tr>
                <tr>
                  <td>Client</td>
                  <td>{{ completion.client.name }}</td>
                </tr>
                <tr>
                  <td>Stage</td>
                  <td>{{ completion.completionItem.completion_type_id ||'(' + completion.completionItem.name + ')' }}</td>
                </tr>
                <tr>
                  <td>Amount</td>
                  <td>
                    <p>${{ completion.completionItem.amount | number }}</p>
                    <div class="well">
                      <div>Breakdown:</div>
                      <div ng-repeat="payment in completion.completionItem.completion_payments">{{ payment.mode_of_payment }}: ${{ payment.amount | number }}</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>{{ completion.completionItem.status | capitalize }}</td>
                </tr>
                <tr>
                  <td>Stage Completed On</td>
                  <td>{{ completion.completionItem.letter_date | date }}</td>
                </tr>
                <tr>
                  <td>Payment Due Date</td>
                  <td>{{ completion.completionItem.payment_due_date | date }}</td>
                </tr>
                <tr>
                  <td>Due Date to Developer</td>
                  <td>{{ completion.completionItem.due_date_to_developer | date }}</td>
                </tr>
                <tr ng-if="completion.completionItem.letter_date">
                  <td>Document</td>
                  <td>
                    <a target="_blank"
                    href="docs/property/property-completion-item/{{ completion.completionItem.id }}"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-download"></i> Notice to Client</a>
                    <a target="_blank"
                    href="docs/property/notice-to-bank/{{ completion.completionItem.id }}"
                    class="btn btn-primary btn-sm"
                    ng-if="completion.hasBankAmount"
                    ><i class="fa fa-download"></i> Notice to Bank</a>
                    <a target="_blank"
                    href="docs/property/notice-to-cpf/{{ completion.completionItem.id }}"
                    class="btn btn-primary btn-sm"
                    ng-if="completion.hasCpfAmount"
                    ><i class="fa fa-download"></i> Notice to CPF</a>
                  </td>
                </tr>
                <tr ng-if="completion.completionItem.created_at">
                  <td>Quick Links</td>
                  <td>
                    <a target="_blank"
                      ui-sref="payments({propertyId: completion.id})"
                      class="btn btn-link"
                      ng-if="completion.isPaid"
                    >Payment Page</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
