<form>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="form-control-label">Property Name</label>
        <input type="text" class="form-control" ng-model="input.name">
      </div>
      <div class="form-group">
        <label class="form-control-label">Description</label>
        <textarea class="form-control" ng-model="input.description" autocomplete="off"></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Address</label>
        <input type="text" class="form-control" ng-model="input.address" autocomplete="off">
      </div>
      <div class="form-group">
        <label class="form-control-label">Developer</label>
        <input type="text" class="form-control" ng-model="input.developer_name">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="updateProject()">Update</button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="form-control-label">CSC Date</label>
        <datepicker date-format="{{ dateFormat }}">
          <input type="text" class="form-control" ng-model="input.csc_date">
        </datepicker>
      </div>
      <div class="form-group">
        <label class="form-control-label">Completion Date</label>
        <datepicker date-format="{{ dateFormat }}">
          <input type="text" class="form-control" ng-model="input.completion_date">
        </datepicker>
      </div>
      <!-- h5>Actions</h5>
      <button type="button" class="btn btn-primary">
        <i class="icon wb-star" aria-hidden="true"></i>
        <span ui-sref="project.newMilestone({id:project.id})" class="hidden-sm-down">Set New Stage Completion</span>
      </button -->
    </div>
  </div>
</form>
