<div class="">
  <div class="panel-heading">
    <h4>Set Completion Date</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <p><i>These settings will apply to all unit(s) selected</i></p>
        <div class="form-group row">
          <label class="col-5 col-form-label">Letter Date</label>
          <div class="col-6">
            <datepicker date-format="{{ dateFormat }}">
              <input class="form-control" type="text" ng-model="form.letter_date">
            </datepicker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-5 col-form-label">Date Received</label>
          <div class="col-6">
            <datepicker date-format="{{ dateFormat }}">
              <input class="form-control" type="text" ng-model="form.date_received">
            </datepicker>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <p>Selected unit(s):</p>
        <ul>
          <li ng-repeat="stage in stageUnits">
            Stage #{{ stage.stageId }}:
            <span ng-class="{ stageItemUnits: 1, hasLetterDate: unit.hasLetterDate }"
              ng-repeat="unit in stage.units"
              title="{{ unit.client_id && unit.client.name }}{{ unit.hasLetterDate ? ' (This unit has completed this stage!)' : '' }}">{{ unit.name }}</span>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <p><i>Action schedule based on your preference</i></p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-5 col-form-label">Payment Due Date</label>
          <div class="col-6">
            <datepicker date-format="{{ dateFormat }}">
              <input class="form-control" type="text" ng-model="form.payment_due_date">
            </datepicker>
          </div>
        </div>
        <input type="hidden" ng-model="form.payment_action_date">
        <div class="form-group row">
          <div class="col">
            <label>
              Payment reminder
              <select ng-model="form.action_days_before_due" class="has-default-val">
                <option value="1">1 day</option>
                <option value="2">2 days</option>
                <option value="3">3 days</option>
                <option value="4">4 days</option>
                <option value="5">5 days</option>
              </select>
              before payment due date
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-5 col-form-label">Due date to developer</label>
          <div class="col-6">
            <datepicker date-format="{{ dateFormat }}">
              <input class="form-control" type="text" ng-model="form.due_date_to_developer">
            </datepicker>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<style>
.stageItemUnits {
  margin-right: 6px;
  font-style: italic;
  font-weight: bold;
}
.stageItemUnits:after {
  content: ',';
}
.stageItemUnits:last-child:after {
  content: '';
}
.stageItemUnits.hasLetterDate {
  color: red;
}
.has-default-val.ng-pristine {
    opacity: 0.5;
}
</style>
