<div class="row">
  <div class="col-lg">
    <ul id="stage-completion-legend">
      <li ng-repeat="completionType in completionTypes">{{ completionType.id }}. {{ completionType.description }}</li>
    </ul>
    <hr>
    <div class="form form-horizontal">
      <p>
        <button
          class="btn btn-primary"
          ng-class="{ disabled: selectedStageCompletionItems.length == 0 }"
          ng-click="showStageCompletionModal()"
          >Set Completion Date</button>
        <button
          class="btn btn-primary"
          ng-class="{ disabled: selectedStageCompletionItems.length == 0 }"
          ng-click="showNoticeModal()"
          >View Notice</button>
        <button class="btn btn-default pull-right" ng-if="selectedStageCompletionItems.length" ng-click="clearUnitSelections()">Clear selection</button>
      </p>
      <p></small>Click on any cell to select/deselect</p>
      <p>
        <span class="status-indc status-pending"></span> Awaiting Payment
        <span class="status-indc status-paid"></span> Paid
      </p>
    </div>
    <table id="property-stage-completion-table" class="table table-bordered table-sm">
      <tr>
        <th rowspan="2"><br>Unit</th>
        <th colspan="8">Stage of Completion</th>
      </tr>
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
      </tr>
      <tr ng-repeat="property in stageCompletionList">
        <td>
          <a ui-sref="property.view({id:property.id})">{{ property.name }}</a>
          <br>
          <small>{{ property.clientName }}</small>
        </td>
        <td class="completion-item-td"
          ng-class="{active: completionItem.selected}"
          ng-click="toggleSelectUnit(property.id, completionItem.typeId)"
          ng-repeat="completionItem in property.completions track by $index">
          <div class="unit-completion-item">{{
              completionItem.date
          }}</div>
          <div class="select-indc"></div>
          <div ng-class="{
            'status-indc': 1,
            'status-indc-ab': 1,
            'status-pending': completionItem.status == 'pending',
            'status-paid': completionItem.status == 'paid'
          }"></div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <div ui-view></div>
  </div>
</div>
