<style>
@media (max-width: 1599px) and (min-width: 1200px) {
  .page {
    max-width: 100%;
  }
}
.badge.badge-stage {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin-left: 5px;
  background: #fff;
  border: solid 1px #007df7;
  color: #007df7;
}
.payment-item.active {
  border: solid 3px #2b8fec;
  border-radius: 3px;
}
</style>
<div class="page-content">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Outstanding Payment</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Unit Name</th>
            <th>Client</th>
            <th>Stage</th>
            <th>Stage Completed<br>(Letter Received Date)</th>
            <th>Due Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="paymentItem in paymentItems"
            ng-class="{'payment-item': true, active: selectedPropertyId == paymentItem.property.id}"
          >
            <td>
              <a ui-sref="property.view({id: paymentItem.property.id})">
                {{ paymentItem.property.name }}
                {{ paymentItem.property.project.name }}
              </a>
            </td>
            <td>
              <a ui-sref="client.view({id: paymentItem.property.client.id})">
                {{ paymentItem.property.client.name }}
              </a>
            </td>
            <td>Stage {{ paymentItem.completion_type_id }}</td>
            <td>{{ paymentItem.letter_date | date }}</td>
            <td>{{ paymentItem.payment_due_date | date }}</td>
            <td>
              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-info">
                  View
                </button>
                <button uib-dropdown-toggle type="button" class="btn btn-default">
                  Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a ui-sref="property.view({id: paymentItem.property.id})">Goto Property <span class="fa fa-share-square-o"></span></a></li>
                  <li class="divider"></li>
                  <li role="menuitem"><a href="" ng-click="setPayment(paymentItem)">Record Payment</a></li>
                  <li role="menuitem"><a href="" ng-click="followUp(paymentItem)">Follow up</a></li>
                </ul>
              </div>
              <!-- button class="btn btn-primary btn-sm"
                ng-click="setPayment(paymentItem)">Save Payment</button>
              <button class="btn btn-default btn-sm"
                ui-sref="property.view({id: paymentItem.property.id})">View</button -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
