<div class="page-content">
  <div class="panel">
    <div class="panel-body">
      <div class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" ui-sref="settings.notification()" ui-sref-active="active">Notification Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" ui-sref="settings.documents()" ui-sref-active="active">Document Templates</a>
        </li>
      </div>
      <div class="tab-content pt-20">
        <ui-view/>
      </div>
    </div>
  </div>
</div>
